<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    
    <bean id="dao" class="dao.IndexDao" scope = "prototype"></bean>
    
	<bean id="mylogin" class="login.LoginByAccount" scope="prototype">
		<property name="id" ref = "dao"></property>
	</bean>
	<bean id="myLoginAction" class="action.LoginAction">
		<property name="login" ref = "mylogin"></property>
	</bean>
 
</beans>